<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snowcat.mapper.TbContentMapper">
    <delete id="deleteContents">
        delete from tbcontent
        <where>
            <foreach collection="ids" open="id in(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>


    <select id="showElement" resultType="com.snowcat.pojo.TbContent">
        select title,pic,pic2,url from tbcontent
        <where>
            categoryId = #{categoryId}
        </where>
    </select>

</mapper>