<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snowcat.mapper.TbItemMapper">


    <update id="change" >
        update tbitem set status = #{status},updated = #{date}
        <where>
            <foreach collection="tbItem" item="item" separator="," open="id in(" close=")">
               #{item.id}
            </foreach>
        </where>
    </update >

    <select id="searchItem" resultType="com.snowcat.pojo.TbItem">
        select *from tbitem
        <where>
            price >= #{priceMin}
            <if test="title!=null">
                and title like '%${title}%'
            </if>

            <if test="priceMax!=null">
                and price &lt;= #{priceMax}
            </if>
            <if test="cId!=null">
                and cId = #{cId}
            </if>
        </where>
        limit  #{index},#{limit}

    </select>

    <select id="searchItemByCount" resultType="int">
        select count(*)from tbitem
        <where>
            price >= #{priceMin}
            <if test="title!=null">
                and title like '%${title}%'
            </if>

             <if test="priceMax!=null">
            and price &lt;= #{priceMax}
            </if>
            <if test="cId!=null">
                and cId = #{cId}
            </if>
        </where>

    </select>

    <insert id="addItem">
        insert into tbitem (id,cId,title,sellpoint,price,num,barcode,image,status,created,updated) values (#{id},#{cId},#{title},#{sellPoint},#{price},#{num},#{barcode},#{image},#{status},#{created},#{updated})
    </insert>





</mapper>