<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.snowcat.mapper.TbItemCatMapper">
    <select id="showZtree" resultType="com.snowcat.pojo.ItemCatResult" >
        select id,name,isParent from tbitemcat where parentId = #{id}
    </select>
</mapper>